<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuario</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

    <div id="header"></div>


    <div class="container">
        <div class="header">
            <span>Cadastro de email</span>
            <div class="button-content">
                <label class="filelabel" for="upload">Importar xlsx</label>
                <input onchange="upload()" accept=".xlsx" class="file" type="file" id="upload" class="adcionar"></input>
                <button id="abrirModal" class="adcionar">Adicionar usuario</label>
               <!--  <button id="abrirModal2"class="adcionar">Adcionar Grupo</button> -->
            </div>
        </div>


    <div id="meuModal" class="modal">
        <div class='modal-content'>
            
            <form class="form" onsubmit="postUser(event)" >
                <span class="fechar">&times;</span>
                <div class="campo">
                    <label for="m-nome">Nome</label> 
                    <input type="text" id="name" name="name" placeholder="Insira seu nome" required> 
                </div>
                <div class="campo">
                    <label for="m-email">Email </label>
                    <input type="email" id="email" placeholder="Insira seu email" required> 
                </div>
                <div class="campo">
                    <label for="">Grupo</label>
                    <input type="text" id="group" placeholder="Insira nome do grupo">
                </div>
                <button type="submit" class="adcionar">Adicionar</button>
            </form>   
        </div>
    </div>

    <div id="meuModal2" class="modal2">
        <div class='modal-content'>
            <form class="form" id="upForm" onsubmit="updateUser(event)">
                <span class="fechar2">&times;</span>
                <div class="campo">
                    <label for="m-nome">Nome</label> 
                    <input type="text" id="upName" name="name" placeholder="Insira seu nome"> 
                </div>
                <div class="campo">
                    <label for="m-email">Email </label>
                    <input type="email" id="upEmail" placeholder="Insira seu email"> 
                </div>
                <button type="submit" class="atualizar">Atualizar</button>
            </form>   
        </div>
    </div>
<!--         <div id="meuModal3" class="modal3">
        <div class='modal-content'>
            <form class="form" id="gForm" onsubmit="emailSelector()">
                <span class="fechar3">&times;</span>
                <div class="campo">
                    <label for="m-nome">Nome do grupo</label> 
                    <input type="text" id="" name="name" placeholder="Insira seu nome"> 
                </div>
                <div id="groupDiv" class="campo">
                    <label for="m-email">Email </label>
                    <div>
                        <span class="removeInput" style="display: none"> &times; </span>
                        <input type="email" class="groupInput" placeholder="Insira seu email"> 
                    </div>
                </div>
                <button type="submit" class="atualizar">Inserir grupo</button>
            </form>   
        </div>
    </div> -->
    
    

<div class="divTable"></div>
     <table id="tabela">
        <caption></caption>
        <thead>
            <tr>
             <th>Nome</th>
             <th>Email</th>
             <th>Editar</th>
             <th>Excluir</th>
             <th>Grupo</th>
             </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
    </table>
    </div>
    
    <script src="./main.js"></script>
</body>
</html>


