<!DOCTYPE html>
<head>
  <title>Seletor de Opções Personalizado</title>
</head>
<link rel="stylesheet" href="./style.css" />

<body>

<div id="header"></div>


<div class="ctn">
  <div class="inner">

    <form action="" onsubmit="sendMail()">
      
      <div>
        <label for="" style="font-size: 25px;">
          Envio de email
        </label>
      </div>
      <div>
        <label for="">Remetente</label>
        <input type="text" name="from" id="from" value=""/>
      </div>
      
      <div>
        <label for="">Para</label>
        <div class="custom-selector" onclick="toggleOptions()">
          Selecione Opções
        </div>
        <ul class="options-list" id="optionsList" style="display: none">
          <li>
              <input
              type="text"
              id="search"
              oninput="filterOptions()"
              onclick="event.stopPropagation()"
              />
            </ul>
          </div>
          
          <div>
            <label for="">Assunto</label>
            <input type="text" id="subject" />
          </div>
          
          
          <div id="textarea" >
            <label for="">Conteudo</label>
            <p>$client - nome client <br> &lt;br&gt; - quebra de linha <br> </p>
          <textarea class="textarea" id="" cols="30" rows="10"></textarea>

        </div>
        
        <div>
          <p id="files"></p>
        </div>
        
        <div>
          <label for="">Data</label>
          <input type="datetime-local" id="date" />
        </div>
        <button type="submit" >Enviar email</button>
      </div>
        
    </form>

    <div id="preview" class="inner" style="margin-top: 18px;">
     
    
  </div>
  
  
      <script src="./send.js"></script>
      
    </body>
    