.custom-selector {
  border: 1px solid #ccc;
  cursor: pointer;
  width: 200px;
  position: relative;
  padding: 8px;
  background-color: #fff;
}

.options-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1;
  list-style-type: none;
}

.option.selected {
  background-color: #f0f0f0;
}

body {
  font-family: Arial, sans-serif;
  
}

form {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  margin-top: 8px;
}

div {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
textarea {
  width: 90%;
  padding: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.option {
  padding: 8px;
  cursor: pointer;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

.page {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.ctn{
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
 /*  gap: 5%; */
}

.inner {
 flex: 1;
}

.close {
    color: #aaa;
    float:initial;
    font-size: 28px;
    font-weight: bold;
}

