body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  margin-top: 8px;
}

table {
  width: 100%;
  border-spacing: 10px;
  word-break: break-all;
  border-collapse: collapse;
}

thead {
  background-color: whitesmoke;
}

tr {
  border-bottom: 1px solid rgb(238, 235, 235) !important;
}

tbody tr td {
  vertical-align: text-top;
  padding: 6px;
  max-width: 50px;
}

thead tr th {
  padding: 5px;
  text-align: start;
  margin-bottom: 50px;
}

tbody tr {
  margin-bottom: 50px;
}

.container {
  width: 90%;
  height: 80%;
  background: white;

  justify-content: center;
  align-items: center;
  margin: 0 auto;

  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  margin-top: 8px;
}